/*====================================================================================================
        AUTHOR: KIRK HILTON
        ASSIGNMENT: STEPS 154 AND 156
======================================================================================================  */

/*-----------------------STEP 154------------------------*/

.Count {
    max-width: 350px;
    position: relative;
    margin-left: 15px;
    padding: 5px;
    display: block;
}

/*-------------------STEP 156 GENERIC----------------------*/
* {box-sizing: border-box}

body {
    font-family: sans-serif; 
    margin:0;
}

.Picture {display: none}

img {
    vertical-align: center;
    width: 100%;
}

/*----------------MAIN PICTURE CONTAINER--------------------*/
.Container {
    max-width: 350px;
    position: relative;
    margin: auto;
    display: center;
}

/*-------------SELECTOR SQUARES BELOW PICTURES-------------*/
.Below {
    text-align: center;
}

.Selector {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 0;
    display: inline-block;
}

.active, .Selector:hover {
    background-color: #464242;
}

/*---------------FORWARD AND BACKWARD AAROWS---------------*/
.Next, .Back {
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.Next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

.Next:hover, .Back:hover {
    background-color: black;
}

/*--------------------PICTURE NAMES-----------------------*/
.text {
    font-size: 20px;
    position: absolute;
    padding: 5px;
    bottom: 12px;
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
}

/*------------------PICTURE NUMBERS---------------------- */
.numbertext {
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    color: white;
    top: 0;
}


