/*=====================================================================
        AUTHOR: KIRK HILTON
        ASSIGNMENT: TIC TAC TOE
=====================================================================*/

/*------- GENERIC CSS --------------*/
body {
    background-image: url('../images/LOTR.jpg');
    background-size: cover; 
}

@font-face {
    font-family: myFirstFont; 
    src: url("../fonts/RINGM___.TTF");  
}

h1 {
    font-family: myFirstFont;
    text-align: center;
    font-size: 60px;
    font-weight: bolder; 
}

/*------ MAIN CONTAINER ------------*/
.center-container {
    box-sizing: border-box;
    border-style: groove;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 1);
    border-width: 8px;
    box-shadow: 3px 3px 20px 20px brown;
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 8px solid rgba(0, 0, 0, 1);
    padding-left: 10px;
    width: 200px;
    height: 200px;
    
}

canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}